/node_modules
/public/hot
/public/storage
/public/google50def386900a7187.html
/storage/*.key
/vendor
/packages
/keep

.history/
.phpintel/

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.orig